body{
    font-size:20px;
}
.active {
    display: block;
}

.hidden {
    display: none;
}
.yds{
    background-color:black;
    color:white
}
.img {
    width: 15%;
    height: 15%;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.selected {
    border: 2px solid green;
}