
table {
    width: 440px;
    border-top: 7px solid rgb(43, 129, 17);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 1px #000000;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(0,0,0);
}

th {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(0,0,0);
}
ul li::marker {
    content: "1";
}