body
{
    background-color:black;
}
.main_window{
    background:silver;
    border:1px solid;
    width:400px;
    height:360px;

    position:relative;
    top:150px;
    left:35%;

    border-top-left-radius:8px;
    border-top-right-radius:8px;
}
.title_bar {
    /*строка загаловка*/
    background-color:crimson;
    width: 400px;
    height: 31px;
    font-family: Tahoma;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.title_bar_left_side,.title_bar_right_side{
    display:flex;
    align-items:center;
}
.calculator-display {
    background-color: #fff;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
}
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}
.calculator-button {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.operator-button{
    background-color:silver
}
.operator-buttons{
    background-color:green
}